# A MongoDB performance test for sensor data

In [1]:
from pymongo import MongoClient


def get_database():
    CONNECTION_STRING = "mongodb://root:root@127.0.0.1"
    client = MongoClient(CONNECTION_STRING)
    return client['sensor-data-performance-test']


db = get_database()
db

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'sensor-data-performance-test')

In [2]:
db.list_collection_names()

[]

# Read csv-files and insert into MongoDB

In [3]:
import os
import pandas as pd
import re
import time

In [4]:
def parse_header(header):
    res = re.findall(r'\{.*?}', header)
    if len(res) > 0:
        return res[0].replace("{", "").replace("}", "")
    raise ParsingHeaderErrorException("No header variable within {} found")


class ParsingHeaderErrorException(Exception):
    pass

In [5]:
file_count = 0
row_count = 0
file_headers_error_count = 0
file_empty_count = 0
start_time_ns = time.time_ns()
for file in sorted(os.listdir("sensor-data")):
    try:
        project, sensor, _ = re.findall(r'(.*)_(.*)_(.*)\.csv', file)[0]
        filename = os.fsdecode("sensor-data/" + file)
        df = pd.read_csv(filename, sep=";", encoding="ISO-8859-1")
        df.columns.values[0] = "{timestamp}"
        df.rename(columns=parse_header, inplace=True)

        df['timestamp'] = pd.to_datetime(df['timestamp'], dayfirst=True)
        collection_name = f"sensor_{project}_{sensor}"
        if collection_name not in db.list_collection_names():
            db.create_collection(
                collection_name,
                timeseries={
                    "timeField": "timestamp",
                    "metaField": "metadata",
                    "granularity": "minutes"
                }
            )
        db[collection_name].insert_many(df.to_dict('records'))
        file_count += 1
        row_count += len(df.index)
    except ParsingHeaderErrorException:
        file_headers_error_count += 1
        continue
    except pd.errors.EmptyDataError:
        file_empty_count += 1
        continue
    except pd.errors.ParserError:
        print("ParserError")
        continue
    except pd.errors.IndexingError:
        print("IndexingError")
        continue
    except UnicodeDecodeError:
        print("UnicodeDecodeError")
        continue
    except Exception as e:
        print(e)
        continue

duration_ns = (time.time_ns() - start_time_ns)
print("Finished")
print(f"{file_count} files read")
print(f"{row_count} rows inserted")
print(f"Files with empty data: {file_empty_count}")
print(f"Files with header errors: {file_headers_error_count}")
print(f"Read duration: {round(duration_ns / 1000000000, 3)} seconds")

Finished
18121 files read
223853 rows inserted
Files with empty data: 1
Files with header errors: 13
Read duration: 57.55 seconds

## Work with the Database

Let's list all collections from the database, here we show only the first 10 collections.

In [6]:
db.list_collection_names()[0:10]

['sensor_LFF_CTD127',
 'system.buckets.sensor_LFF_CTD127',
 'sensor_DEU1_I-5',
 'system.buckets.sensor_DEU1_I-5',
 'sensor_LFF_MPS3',
 'system.buckets.sensor_LFF_MPS3',
 'sensor_CYP1_S1',
 'system.buckets.sensor_CYP1_S1',
 'sensor_DEU1_124',
 'system.buckets.sensor_DEU1_124']

Load a collection and show the first document in a pandas dataframe.

In [7]:
sensor_collection_DEU1_I2 = db['sensor_DEU1_I-2']
first_document = sensor_collection_DEU1_I2.find_one()

pd.DataFrame(first_document, index=[0])

,timestamp,ec_25,h,_id,ph,v_batt,h_level,ldo,t_intern,t,ec
0,2019-06-06 14:00:00,0.529239,4.06,64eeee60dea2ca4167b0f427,7.11,5.29,4.06,3.555,33.89,12.44,0.383

Load documents in a specific time range with a daily resolution and show min, max and average values (in our case temperature)

In [8]:
start_time_ns = time.time_ns()
results = list(sensor_collection_DEU1_I2.aggregate([
    {
        "$match": {
            "timestamp": {
                "$gte": pd.to_datetime("2020-01-01"),
                "$lt": pd.to_datetime("2021-01-02")
            }
        }
    },
    {
        "$group": {
            "_id": {
                "year": {"$year": "$timestamp"},
                "month": {"$month": "$timestamp"},
                "day": {"$dayOfMonth": "$timestamp"}
            },
            "avg": {"$avg": "$t"},
            "min": {"$min": "$t"},
            "max": {"$max": "$t"}
        }
    },
    {
        "$sort": {
            "_id": 1
        }
    }
]))
duration_ns = (time.time_ns() - start_time_ns)
print(f"Query duration: {round(duration_ns / 1000000, 3)} milliseconds")
pd.DataFrame(results)

Query duration: 16.293 milliseconds

                                        _id        avg    min    max
0      {'year': 2020, 'month': 1, 'day': 1}  13.107500  13.09  13.12
1      {'year': 2020, 'month': 1, 'day': 2}  13.120000  13.12  13.12
2      {'year': 2020, 'month': 1, 'day': 3}  13.117500  13.08  13.12
3      {'year': 2020, 'month': 1, 'day': 4}  13.125833  13.12  13.14
4      {'year': 2020, 'month': 1, 'day': 5}  13.132500  13.12  13.14
..                                      ...        ...    ...    ...
362  {'year': 2020, 'month': 12, 'day': 28}  13.168750  13.15  13.17
363  {'year': 2020, 'month': 12, 'day': 29}  13.168750  13.15  13.17
364  {'year': 2020, 'month': 12, 'day': 30}  13.167500  13.15  13.17
365  {'year': 2020, 'month': 12, 'day': 31}  13.170000  13.17  13.17
366    {'year': 2021, 'month': 1, 'day': 1}  13.170000  13.17  13.17

[367 rows x 4 columns]

Load all possible keys (props) from a collection

In [9]:
start_time_ns = time.time_ns()
cursor = sensor_collection_DEU1_I2.aggregate([
    {"$project": {
        "data": {"$objectToArray": "$$ROOT"}
    }},
    {"$project": {"data": "$data.k"}},
    {"$unwind": "$data"},
    {"$group": {
        "_id": 'null',
        "keys": {"$addToSet": "$data"}
    }}
])

collection_keys = list(cursor)[0]['keys']
hide_keys = ['_id', 'metadata']
keys = list(set(collection_keys) - set(hide_keys))
duration_ns = (time.time_ns() - start_time_ns)
print(f"Query duration: {round(duration_ns / 1000000, 3)} milliseconds")

keys

Query duration: 136.797 milliseconds

['h_level',
 'timestamp',
 't',
 't_intern',
 'h',
 'ec_25',
 'v_batt',
 'ldo',
 'ph',
 'ec']

Show DB stats in a pandas dataframe

In [10]:
pd.DataFrame(db.command("dbstats"), index=[0])

,db,collections,views,objects,avgObjSize,dataSize,storageSize,indexes,indexSize,totalSize,scaleFactor,fsUsedSize,fsTotalSize,ok
0,sensor-data-performance-test,25,24,9797,913.94682,8953937.0,528384.0,1,4096.0,532480.0,1.0,4.314202e+11,4.943848e+11,1.0

Count documents in a collection

In [11]:
start_time_ns = time.time_ns()
count = sensor_collection_DEU1_I2.count_documents({})
duration_ns = (time.time_ns() - start_time_ns)
print(f"Query duration: {round(duration_ns / 1000000, 3)} milliseconds")
print(f"Count: {count}")

Query duration: 10.131 milliseconds
Count: 44471

List all documents in a collection

In [12]:
start_time_ns = time.time_ns()
result = sensor_collection_DEU1_I2.find()
duration_ns = (time.time_ns() - start_time_ns)
print(f"Query duration: {round(duration_ns / 1000000, 3)} milliseconds")
pd.DataFrame(list(result))

Query duration: 0.057 milliseconds

,timestamp,ec_25,h,_id,ph,v_batt,h_level,ldo,t_intern,t,ec
0,2019-06-06 14:00:00,0.529239,4.06,64eeee60dea2ca4167b0f427,7.11,5.29,4.06,3.555,33.89,12.44,0.383
1,2019-06-06 15:00:00,0.528918,4.06,64eeee60dea2ca4167b0f428,7.11,5.28,4.06,3.568,30.71,12.46,0.383
2,2019-06-06 16:00:00,0.528918,4.06,64eeee60dea2ca4167b0f429,7.11,5.27,4.06,3.569,24.21,12.46,0.383
3,2019-06-06 17:00:00,0.528918,4.06,64eeee60dea2ca4167b0f42a,7.11,5.27,4.06,3.563,22.46,12.46,0.383
4,2019-06-06 18:00:00,0.529239,4.06,64eeee60dea2ca4167b0f42b,7.11,5.26,4.06,3.563,22.3,12.44,0.383
...,...,...,...,...,...,...,...,...,...,...,...
44466,2023-04-06 08:02:52,1827004.144,5.31,64eeee6cdea2ca4167b1a1d9,NaN,4.99,5.31,3.08,0.87,12.67,1331411.0
44467,2023-04-06 09:00:00,1827004.144,5.31,64eeee6cdea2ca4167b1a1da,8.28,5.04,5.31,3.098,7.86,12.67,1331411.0
44468,2023-04-06 10:00:00,1827004.144,5.31,64eeee6cdea2ca4167b1a1db,8.27,5.07,5.31,3.115,13.41,12.67,1331411.0
44469,2023-04-06 11:00:00,1827004.144,5.31,64eeee6cdea2ca4167b1a1dc,8.29,5.09,5.31,3.131,18.33,12.67,1331411.0
44470,2023-04-06 12:00:00,1827004.144,5.31,64eeee6cdea2ca4167b1a1dd,8.26,5.11,5.31,3.145,20.71,12.67,1331411.0

Make a simple query over a time range
Show timestamp in seconds and datetime in ISO format
Show data in a pandas dataframe

In [13]:
start_time_ns = time.time_ns()
cursor = sensor_collection_DEU1_I2.aggregate([
    {"$match": {
        "timestamp": {
            "$gte": pd.to_datetime("2020-01-01"),
            "$lt": pd.to_datetime("2021-01-02")
        },

    }},
    {"$project": {
        "timestamp": {
            "$divide": [
                {"$toLong": "$timestamp"},
                1000
            ]
        },
        "datetime": {
            "$dateToString": {
                "format": "%Y-%m-%dT%H:%M:%S.000Z",
                "date": "$timestamp"
            }
        },
        "t": 1,
        "_id": 0
    }}
])
duration_ns = (time.time_ns() - start_time_ns)
print(f"Query duration: {round(duration_ns / 1000000, 3)} milliseconds")
pd.DataFrame(list(cursor))

Query duration: 4.467 milliseconds

          t     timestamp                  datetime
0      13.1  1.577837e+09  2020-01-01T00:00:00.000Z
1      13.1  1.577840e+09  2020-01-01T01:00:00.000Z
2      13.1  1.577844e+09  2020-01-01T02:00:00.000Z
3     13.09  1.577848e+09  2020-01-01T03:00:00.000Z
4      13.1  1.577851e+09  2020-01-01T04:00:00.000Z
...     ...           ...                       ...
8806  13.17  1.609528e+09  2021-01-01T19:00:00.000Z
8807  13.17  1.609531e+09  2021-01-01T20:00:00.000Z
8808  13.17  1.609535e+09  2021-01-01T21:00:00.000Z
8809  13.17  1.609538e+09  2021-01-01T22:00:00.000Z
8810  13.17  1.609542e+09  2021-01-01T23:00:00.000Z

[8811 rows x 3 columns]